body {
  background-color: rgb(212, 197, 244);
  color: #000;
  margin: 0px;
  padding: 0px;
}
a {
  text-align: center;
  text-decoration: underline;
  font-size: medium;
  color: blue;
}
a.one:hover {
  color: rgb(17, 128, 0);
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.7);
}
.container {
  display: flex;
  background-color: coral;
}
.container div {
  margin: 10px;
  padding: 10px;
  width: 100px;
  text-align: center;
}
.container:hover {
  border: 2px 2px solid #000;
  box-shadow: 5px;
}
