* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: beige;
}
#cen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrap {
  display: flex;
  gap: 1.25rem;
  width: 18.75rem;
  height: 20rem;
  overflow-x: scroll;
  align-items: center;
  scroll-snap-type: x mandatory;
}
.c {
  scroll-snap-align: center;
  box-sizing: border-box;
  padding: 1.25rem 1.875rem;
  flex-shrink: 0;
  min-height: 10rem;
  width: 18.75rem;
  background-color: rgb(211, 209, 79);
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
